## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 

# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

city_data_df = pd.read_csv("Weather_Database/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Pierre,RE,2020-10-31 07:58:19,-21.34,55.48,75.20,50,20,19.46
1,1,Port Alfred,ZA,2020-10-31 07:58:19,-33.59,26.89,66.22,60,88,6.98
2,2,Yar-Sale,RU,2020-10-31 07:58:20,66.83,70.83,34.11,97,100,12.21
3,3,Port-Cartier,CA,2020-10-31 07:58:20,50.03,-66.87,26.60,73,0,8.05
4,4,Taoudenni,ML,2020-10-31 07:58:20,22.68,-3.98,76.12,23,44,12.41

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Pierre,RE,2020-10-31 07:58:19,-21.34,55.48,75.20,50,20,19.46
4,4,Taoudenni,ML,2020-10-31 07:58:20,22.68,-3.98,76.12,23,44,12.41
5,5,Rikitea,PF,2020-10-31 07:58:20,-23.12,-134.97,75.31,71,0,5.70
6,6,Hilo,US,2020-10-31 07:58:20,19.73,-155.09,77.00,83,90,5.75
11,11,Yeppoon,AU,2020-10-31 07:58:22,-23.13,150.73,84.20,51,0,13.87
14,14,Kontagora,NG,2020-10-31 07:58:23,10.40,5.47,81.79,33,8,4.61
18,18,Saint-Philippe,RE,2020-10-31 07:58:24,-21.36,55.77,75.20,50,20,19.46
20,20,Tautira,PF,2020-10-31 07:58:25,-17.73,-149.15,77.00,73,40,4.70
34,34,Hithadhoo,MV,2020-10-31 07:58:32,-0.60,73.08,83.82,73,74,11.43
36,36,Avarua,CK,2020-10-31 07:58:33,-21.21,-159.78,75.20,73,100,18.34

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       211
City          211
Country       211
Date          211
Lat           211
Lng           211
Max Temp      211
Humidity      211
Cloudiness    211
Wind Speed    211
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# No empty rows :)

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0     Saint-Pierre      RE     75.20 -21.34   55.48
4        Taoudenni      ML     76.12  22.68   -3.98
5          Rikitea      PF     75.31 -23.12 -134.97
6             Hilo      US     77.00  19.73 -155.09
11         Yeppoon      AU     84.20 -23.13  150.73
14       Kontagora      NG     81.79  10.40    5.47
18  Saint-Philippe      RE     75.20 -21.36   55.77
20         Tautira      PF     77.00 -17.73 -149.15
34       Hithadhoo      MV     83.82  -0.60   73.08
36          Avarua      CK     75.20 -21.21 -159.78

In [30]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City          211
Country       211
Max Temp      211
Lat           211
Lng           211
Hotel Name    211
dtype: int64

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))